beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
Flask==1.0.3
Flask-Cors==3.0.8
-e git://github.com/BIGjuevos/flask-graylog@7276ab538ea83301018453483b2f9b00c875e7d2#egg=Flask_Graylog
graypy==1.1.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
mysqlclient==1.4.2.post1
PyMySQL==0.9.3
pymysql-pooling==1.0.1
requests==2.22.0
six==1.12.0
soupsieve==1.9.1
urllib3==1.26.5
Werkzeug==0.15.4
