{% extends "base.html" %}

{% block head %}
    <meta charset="utf-8"/>
    <style type="text/css">
        body {
            margin: 0;
            font-family: sans-serif;
            font-size: 11pt;
            background-color: #333333;
        }
        table {
            width: 100%;
        }
        .clock {
            color: #cccccc;
            font-family: sans-serif;
            font-size: 50px;
            width: 100%;
            padding-top: 10px;
            text-align: center;
        }
        .stats {
            color: #888888;
            font-family: sans-serif;
            font-size: 28px;
            width: 100%;
            padding-top: 10px;
            text-align: center;
        }
    </style>

    <script type="text/javascript">
        function calcTime(t) {
            date = t;
            var h = date.getHours(); // 0 - 23
            var m = date.getMinutes(); // 0 - 59
            var s = date.getSeconds(); // 0 - 59
            var session = "AM";

            if(h == 0){
                h = 12;
            }

            if(h > 12){
                h = h - 12;
                session = "PM";
            }

            h = (h < 10) ? "0" + h : h;
            m = (m < 10) ? "0" + m : m;
            s = (s < 10) ? "0" + s : s;

            return h + ":" + m + ":" + s + " " + session;
        }
        $(document).ready(function() {
            function showTime(){
                var time = calcTime(new Date());

                document.getElementById("MyClockDisplay").innerText = time;
                document.getElementById("MyClockDisplay").textContent = time;

                setTimeout(showTime, 1000);
            }

            showTime();
        });

        $(document).ready(function() {
            function getStreamInfo() {
                $.get({
                    url: 'https://api.twitch.tv/helix/streams?user_id=onetruecaptain',
                    headers: {
                      'Client-ID': "{{ twitch_client_id }}"
                    },
                    success: function(data) {
                        if ( data.stream ) {
                            console.log(data);
                            $('#viewers').text(data.viewer_count);
                            var started = new Date(Date.parse(data.started_at));
                            var start_time = calcTime(started);
                            console.log(started);
                            $('#started').text(start_time);
                        } else {
                            $('#viewers').text("Not Live");
                            $('#started').text("Not Streaming");
                        }
                    }
                });
                $.get({
                    url: 'https://api.twitch.tv/helix/users/follows?to_id=onetruecaptain',
                    headers: {
                        'Client-ID': "{{ twitch_client_id }}"
                    },
                    success: function(data) {
                        console.log(data);
                        $('#followers').text(data.total);
                    }
                });
            }
            getStreamInfo();
            setInterval(getStreamInfo, 30000);
        });
    </script>
{% endblock %}

{% block content %}
<table>
  <tbody>
    <tr>
      <td width="30%" valign="top">
        <iframe
            src="http://player.twitch.tv/?channel=OneTrueCaptain&muted=true&autoplay=true"
            height="300"
            width="100%"
            frameborder="0"
            scrolling="no"
            allowfullscreen="<allowfullscreen>">
        </iframe>
        <div id="MyClockDisplay" class="clock"></div>
	<div class="stats">
		Viewers: <span id="viewers"></span>
		<br />
		Steaming Since: <span id="started"></span>
		<br />
		Followers: <span id="followers"></span>
	</div>
      </td>
      <td width="70%">
        <iframe frameborder="0"
                scrolling="no"
                id="chat_embed"
                src="http://www.twitch.tv/embed/OneTrueCaptain/chat?darkpopout"
                height="500"
                width="100%">
        </iframe>
      </td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td width="50%">
        <iframe
          frameborder="0"
          scrolling="yes"
          src="https://streamlabs.com/dashboard/recent-events"
          width="100%"
          height="300">
        </iframe>
	<small><a href="https://streamlabs.com/dashboard" target="_blank">StreamLabs</a>
      </td>
      <td width="50%" valign="top">
        <iframe frameborder="0"
                scrolling="no"
                src="/map?raw"
                height="300"
                width="100%">
        </iframe>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}