{% extends "base_no_nav.html" %}

{% block head %}
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
  <script src="/static/js/leaflet.rotatedMarker.js"></script>
  <link href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
  <script>
      $(document).ready(function(){
          // Where you want to render the map.
          var element = document.getElementById('osm-map');

          // Height has to be set. You can do this in CSS too.
          element.style = 'position: absolute; top: 0; bottom: 0; left: 0; right: 0;';

          // Create Leaflet map on map element.
          var map = L.map(element);

          // Add OSM tile layer to the Leaflet map.
          var Stadia_AlidadeSmoothDark = L.tileLayer('https://tiles.stadiamaps.com/tiles/alidade_smooth_dark/{z}/{x}/{y}{r}.png', {
              maxZoom: 20,
              attribution: '&copy; <a href="https://stadiamaps.com/">Stadia Maps</a>, &copy; <a href="https://openmaptiles.org/">OpenMapTiles</a> &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
          }).addTo(map);
          /**
          L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
              attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
              id: 'mapbox'
          }).addTo(map);
           */

          // Target's GPS coordinates.
          var target = L.latLng('0', '0');

          // Set map's center to target with zoom 14.
          map.setView(target, 14);

          var planeIcon = L.icon({
              iconUrl: '/static/img/plane.png',
              iconSize: [80, 78],
              iconAnchor: [40, 39],
              popupAnchor: [0, 0]
          });

          // Place a marker on the same location.
          var marker = L.marker(target, {icon: planeIcon}).addTo(map);

          // add the departure and arrival points
          var dep = [0, 0];
          var arr = [0, 0];
          var plane = [0, 0];
          var line = L.polyline([dep, plane, arr]).addTo(map);

          // setup the data fetch loop
          setInterval(function() {
              $.getJSON('/data', function(data){
                  dep = [data.dep.laty, data.dep.lonx];
                  arr = [data.arr.laty, data.arr.lonx];
                  plane = [data.lat, data.lng];

                  // update the line
                  line.setLatLngs([dep, plane, arr]);

                  // update the marker position
                  marker.setLatLng(plane);
                  marker.setRotationAngle(data.hdg);

                  // update the map view
                  var zoom = map.getZoom();
                  if (data.gs < 10)
                      zoom = 20;
                  else if (data.gs < 50 )
                      zoom = 16;
                  else if (data.gs < 250)
                      zoom = 12
                  else
                      zoom = 8;

                  map.setView([data.lat, data.lng], zoom);
              });
          }, 1000);
      });
  </script>
  <div id="osm-map"></div>
{% endblock %}
