{% extends "base_no_nav.html" %}

{% block head %}
<style>
body {
    background-color: #333333;
    color: #9198a1;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td {
    font-family: monospace;
}
td.label {
    text-align: right;
    padding-right: 10px;
}
td.value {
    text-align: left;
    padding-left: 10px;
}
</style>
{% endblock %}

{% block content %}
  <table>
    <tr>
      <td class="label">
        <b>Altitude</b>
      </td>
      <td class="value">
        <span id="alt"></span> feet
      </td>
      <td class="label">
        <b>Ground Speed</b>
      </td>
      <td class="value">
        <span id="gs"></span> mph
      </td>
      <td class="label">
        <b>Latitude</b>
      </td>
      <td class="value">
        <span id="lat"></span> deg
      </td>
    </tr>

    <tr>
      <td class="label">
        <b>Vertical Speed</b>
      </td>
      <td class="value">
        <span id="vs"></span> feet/min
      </td>
      <td class="label">
        <b>TAS</b>
      </td>
      <td class="value">
        <span id="tas"></span> kt
      </td>
      <td class="label">
        <b>Longitude</b>
      </td>
      <td class="value">
        <span id="lng"></span> deg
      </td>
    </tr>

    <tr>
      <td class="label">
        <b>Heading</b>
      </td>
      <td class="value">
        <span id="hdg"></span> deg
      </td>
      <td class="label">
        <b>IAS</b>
      </td>
      <td class="value">
        <span id="ias"></span> kt
      </td>
      <td class="label">
        <b>Pitch</b>
      </td>
      <td class="value">
        <span id="pitch"></span> deg
      </td>
    </tr>

    <tr>
      <td class="label">
        <b>Inches</b>
      </td>
      <td class="value">
        <span id="inches"></span> Hg
      </td>
      <td class="label">
        <b>Mach</b>
      </td>
      <td class="value">
        <span id="mach"></span> mach
      </td>
      <td class="label">
        <b>Bank</b>
      </td>
      <td class="value">
        <span id="bank"></span> deg
      </td>
    </tr>
  </table>
  <script>
      // setup the data fetch loop
      setInterval(function() {
          $.getJSON('/data', function(data){
              $('#alt').text(data.alt);
              $('#gs').text(data.gs);
              $('#vs').text(data.vs);
              $('#tas').text(data.tas);
              $('#hdg').text(data.hdg);
              $('#ias').text(data.ias);
              $('#inches').text(data.inches);
              $('#mach').text(data.mach);
              $('#lat').text(data.lat);
              $('#lng').text(data.lng);
              $('#pitch').text(data.pitch);
              $('#bank').text(data.bank);
          });
      }, 1000);
  </script>
{% endblock %}
