    <meta charset="utf-8"/>
    <style type="text/css">
        body {
            margin: 0;
            color: black;
            font-family: sans-serif;
            font-size: 11pt;
        }
        #map { height: 100%; min-height: 540px; }
        #marker {
            width: 80px;
            height: 78px;
        }
    </style>

    {% if includeJquery is defined %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            crossorigin="anonymous"></script>
    {% endif %}

{#    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>#}
{#    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />#}

    <script type="text/javascript">
        $(document).ready(function() {
            setInterval(function() {
                var d = new Date();
                var n = d.getMilliseconds();

                $.ajax('/data?thing=map&ts=' + n, {
                    success: function (data) {
                        var target = {
                            lat: parseFloat(data['lat']),
                            lng: parseFloat(data['lng'])
                        };
                        marker.setPosition(target);

                        iconData.rotation = Math.round(parseFloat(data['hdg']))
                        marker.setOptions({icon: iconData});

                        if ( data['gs'] < 50 ) {
                            map.setZoom(15);
                        } else if ( data['gs'] < 180 ) {
                            map.setZoom(13);
                        } else if ( data['gs'] < 250 ) {
                            map.setZoom(11);
                        } else {
                            map.setZoom(9);
                        }

                        map.panTo(target);
                    }
                });
            }, 1000);
        });
    </script>

    <div id="map"></div>
    <script type="text/javascript">
        var map, marker, iconData;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 8
            });

            iconData = {
                path: "M552.5,614.1c0.8-14.1,16.9-9.2,16.9-9.2L696,630.7l261.3,99.4c0-49-7.8-54.1-19.2-62.7L565.3,400c0,0-10-122.5-10-230.5c0-50-24.1-159.5-55.3-159.5c-31.2,0-55.3,111.1-55.3,159.5c0,102.5-10,230.5-10,230.5L61.9,667.4c-14.5,10.2-19.2,15.7-19.2,62.7L304,630.7l126.4-25.7c0,0,16.1-4.9,16.9,9.2c0.8,14.1-2.5,141.1,12,208.5c1.8,9-5.1,9.6-9.8,15.1l-106,67c-3.5,3.9-5.1,14.9-5.1,14.9l-2,37.8l138.8-32.7l24.5,65.3l24.5-65.3l138.8,32.7l-2-37.8c0.2,0-1.4-11-4.9-14.9l-106-67c-4.7-5.5-11.6-6.1-9.8-15.1C554.5,755.2,551.7,628.2,552.5,614.1z",
                strokeColor: '#000',
                fillColor: '#000000',
                strokeWeight: 1,
                fillOpacity: 0.8,
                anchor: new google.maps.Point(500,500),
                scaledSize: new google.maps.Size(1,1),
                scale: 0.1
            };

            marker = new google.maps.Marker({
                icon: iconData,
                position: {lat: -34.397, lng: 150.644},
                map: map,
              });
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ access_token }}&callback=initMap"
            async defer></script>

